

.b-container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
}

.heading {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  color: #333;
}

.section {
  margin-top: 20px;
}

h3 {
  cursor: pointer;
  color: #007bff;
}

.expanded-content {
  margin-top: 10px;
}
.expanded-content p {
  color:#007bff ;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  margin-top: 0.6rem;
  border-bottom: 1px solid gray;
}

@media (max-width: 600px) {
  .b-container {
    padding: 10px;
  }
}



    

    

