
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


.image-container {
  flex: 1;
  margin-right: 2rem;
}

.profile-image {
  width:100%; 
  height:100%; 
}


.info-container {
  flex: 2;
  border: 1px solid white;
}

.info-container h2 {
  font-size: 2rem;
  color: gray;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

span {
  color: #007bff; 
}


.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
  grid-gap: 1rem;
}

/* Detail item */
.detail {
  margin-bottom: 1rem;
}

.detail h3 {
  font-size: 1.2rem;
  color: #007bff; 
  padding-bottom: 0.5rem;
  border-left: 1px solid gray;
}

.detail p {
  font-size: 1rem;
  color: burlywood; 
  border-bottom: 1px solid wheat;
  border-left: 1px solid gray;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; 
    text-align: center; 
  }

  .image-container {
    margin-right: 0; 
    margin-bottom: 1rem; 
  }

  .info-container {
    flex: 1; 
  }
}


